{% extends 'admin/layout.html.twig' %}

{% block title %} Users {% endblock %}

{% block content %}
    {% if users %}
    <table id="users" class="table table-striped">
    <thead>
        <tr>
            <th>Username</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>
                    <a href="{{ path('user_show', {username: user.username}) }}" class="btn btn-dark">Show</a>
                    <a href="#" class="btn btn-danger delete-test" data-id="{ username: user.id }">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    {% else %}
        <p>No users to display</p>
    {% endif %}
{% endblock %}
{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}
